<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: title}) %>
  <body class="bg-light">
    <%- include('partials/navbar'), {user: user} %>
    <div class="container d-flex justify-content-center mt-4">
      <div class="col-md-8">
        <% posts.forEach((post)=> { %>
        <div class="card my-4 bg-white shadow-sm">
          <div class="card-body">
            <h1 class="card-title"><%= post.title %></h1>
            <p class="card-text"><%= post.description %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
