#profileImg {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.profileImg {
  height: 50px;
  width: 50px;
}
